/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #DAE2DF;
    color:#474747;
    font-size:18px;
}
header {
    background-color:#474747;
    padding:10px;
    height: 170px;
}
nav{
    float: right;
    font-family: 'Merriweather Sans', sans-serif;
    font-variant: small-caps;
    letter-spacing: 3px;
    margin-top: -25px;
    margin-right: 300px;
}

a{
    text-decoration: none;
}
a:link{
    color: #F8F9A1;
}
a:visited{
    color: #F8F9A1;
}
a:hover{
    color: #A31A98;
}
a:active{
    color: #DAE2DF;
}
img {
    border-radius: 10px;
}
ul {
    list-style: circle outside;
    list-style-position: inside;
}
.name {
    color: #DAE2DF;
    font-size: 48px;
    font-family: 'Satisfy', cursive;
    line-height: 100px;
    padding-left: 20px;
}
.edit{
    color: #DAE2DF;
    font-size: 48px;
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 9px;
    line-height: 10px;
    padding-left: 20px;
}

#wrapper {
    width: 100%;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;

}
.photo {
    margin: 10px;
    float: left;

}

.text {
    padding: 10px 10px 10px 50px;
    margin: 10px;
    width: 50%;
    float: left;
}

h2{
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
    color: #A31A98;
}
p{
    line-height: 25px;
}
#project1 {
    width: 400px;
    padding: 20px 20px 20px 20px;
    float: left;
}
#project2 {
    width: 400px;
    padding: 20px 20px 20px 20px;
    float: left;

}
#project3 {
    width: 400px;
    padding: 20px 20px 20px 20px;
    float:left;}

.project-text{
    text-align: left;
}

.cpf {
    padding: 20px;
}

.cpf-images img {
    margin: 10px;
}
.hm14 {
    padding: 20px;
}

.hm14-images img {
    margin: 10px;
}
footer {
    color: #474747;
    font-size: 20px;
    font-family: 'Satisfy', cursive;
    text-align: right;
    clear: both;
    padding:  50px 20px 0px 0px;
}